extends layout

append styles
    link(rel='stylesheet', href='/stylesheets/upload.css')
    

block content
    .row
        .container.justified
            .form-group
                +input-simple("file", "uploadedFile")
    .row
        .container.justified
            +progress-bar-warning(Progress)
    .row
        .container.justified
            a(id='uploadFile')
                +btn-warning("Upload")
                




