frontend/sender/node_modules/*
frontend/sender/public/javascripts/*
frontend/sender/package-lock.json
frontend/vis/node_modules/*
frontend/vis/public/javascripts/*
frontend/vis/package-lock.json

/architecture/terraform.tfstate
/architecture/terraform.tfstate.backup
/architecture/.terraform/
/architecture/credentials/
