# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=1_gnu
argon2-cffi=20.1.0=pypi_0
attrs=19.3.0=pypi_0
backcall=0.2.0=pypi_0
bleach=3.1.5=pypi_0
brotlipy=0.7.0=py38h1e0a361_1000
ca-certificates=2020.6.20=hecda079_0
certifi=2020.6.20=py38h32f6830_0
cffi=1.14.1=py38he30daa8_0
chardet=3.0.4=py38h32f6830_1006
conda=4.8.4=py38h32f6830_2
conda-package-handling=1.7.0=py38h1e0a361_4
cryptography=3.0=py38h766eaa4_0
decorator=4.4.2=pypi_0
defusedxml=0.6.0=pypi_0
entrypoints=0.3=pypi_0
idna=2.10=pyh9f0ad1d_0
ipykernel=5.3.4=pypi_0
ipython=7.17.0=pypi_0
ipython-genutils=0.2.0=pypi_0
jedi=0.17.2=pypi_0
jinja2=2.11.2=pypi_0
jsonschema=3.2.0=pypi_0
jupyter-contrib-core=0.3.3=pypi_0
jupyter-contrib-nbextensions=0.5.1=pypi_0
jupyter-core=4.6.3=pypi_0
jupyter-highlight-selected-word=0.2.0=pypi_0
jupyter-latex-envs=1.4.6=pypi_0
jupyter-nbextensions-configurator=0.4.1=pypi_0
ld_impl_linux-64=2.34=hc38a660_9
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h24d8f2e_15
libgomp=9.3.0=h24d8f2e_15
libstdcxx-ng=9.3.0=hdf63c60_15
lxml=4.5.2=pypi_0
markupsafe=1.1.1=pypi_0
mistune=0.8.4=pypi_0
nbconvert=5.6.1=pypi_0
nbformat=5.0.7=pypi_0
ncurses=6.2=he1b5a44_1
notebook=6.1.0=pypi_0
openssl=1.1.1g=h516909a_1
pandocfilters=1.4.2=pypi_0
parso=0.7.1=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pip=20.2.2=py_0
prometheus-client=0.8.0=pypi_0
prompt-toolkit=3.0.5=pypi_0
ptyprocess=0.6.0=pypi_0
pycosat=0.6.3=py38h1e0a361_1004
pycparser=2.20=pyh9f0ad1d_2
pygments=2.6.1=pypi_0
pyopenssl=19.1.0=py_1
pyrsistent=0.16.0=pypi_0
pysocks=1.7.1=py38h32f6830_1
python=3.8.3=hcff3b4d_0
python_abi=3.8=1_cp38
pyyaml=5.3.1=pypi_0
pyzmq=19.0.2=pypi_0
readline=8.0=he28a2e2_2
requests=2.24.0=pyh9f0ad1d_0
ruamel_yaml=0.15.80=py38h1e0a361_1001
send2trash=1.5.0=pypi_0
setuptools=49.6.0=py38h32f6830_0
six=1.15.0=pyh9f0ad1d_0
sqlite=3.32.3=h4cf870e_1
terminado=0.8.3=pypi_0
testpath=0.4.4=pypi_0
tk=8.6.10=hed695b0_0
tornado=6.0.4=pypi_0
tqdm=4.48.2=pyh9f0ad1d_0
traitlets=4.3.3=pypi_0
urllib3=1.25.10=py_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.35.1=pyh9f0ad1d_0
xz=5.2.5=h516909a_1
yaml=0.2.5=h516909a_0
zlib=1.2.11=h516909a_1007
