.justified {
    display: flex;
    justify-content: center;
}

.progress {
    min-width: 700px;
    max-width: 1;
}

.form-group {
    margin-top: 20px;
    min-width: 700px;
    max-width: 1000px;
}

.form-control {
    padding: 10px;
    min-height: 50px;
    max-height: 50px;
}